target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.classpath
.project
.settings
.vagrant
*.p12
smx/
.DS_Store
se.sunet.ati.integration.common.cfg
se.sunet.ati.integration.ladok.cfg
se.uu.its.integration.cfg
